*{
    margin: 0;
    padding: 0;
}
.main-header-outer{
    width: 100%;
    height: 90px;
    border: 1px solid red;
    display: flex;
}
.top-bar-left{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-bar-left > img{
    width: 150px;
}
.top-bar-right{
    border: 1px solid red;
    flex: 1;
}